<h4>Professores</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nome</th>
      <th scope="col">Contato</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <th scope="row" class="col-sm-1"> {{ teacher.id }} </th>
      <td class="col-sm-4"> {{ teacher.name }} </td>
      <td class="col-sm-3"> {{ teacher.contact }} </td>
      <td class="col-sm-3">
        <button class="btn btn-warning me-2 ms-3" routerLinkActive="active" routerLink="edit/{{ teacher.id }}">Editar</button>
        <button class="btn btn-primary ms-3" (click)="deleteTeacher(teacher.id)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <button class="btn btn-primary" routerLinkActivated="active" routerLink="register">Novo Professor</button>
  <button class="btn logout ms-2" (click)="onLogout()">Logout</button>
</div>
