<h4>Área Administrativa</h4>

<h6>O que deseja ver:</h6>

<div>
  <button class="btn btn-primary" routerLinkActivated="active" routerLink="alunos">Alunos</button>
  <button class="btn btn-primary ms-2" routerLinkActivated="active" routerLink="professores">Professores</button>
  <button class="btn logout ms-2" (click)="onLogout()">Logout</button>
</div>

<div *ngIf="hasPending" >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome</th>
        <th scope="col">Contato</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <th scope="row" class="col-sm-1"> {{ student.id }} </th>
        <td class="col-sm-4"> {{ student.name }} </td>
        <td class="col-sm-3"> {{ student.contact }} </td>
        <td class="col-sm-3">
          <button class="btn btn-warning me-2 ms-3" routerLinkActive="active" (click)="onClick(student)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
