<h4>Boas vindas ao Omega!</h4>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>

<div>
  <button type="button" class="btn" style="background: #2FA4FF; color: #fff;"
  (click)="onClick()"> Logar como Administrador</button>
  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
</div>


