<h4>Boas vindas à Omega!</h4>

<p> A Omega é uma plataforma de cursos voltado para crianças e adolescentes entre 4 e 18 anos. </p>
<p> Cursos acessíveis e didáticos para seu filho (a) aprender com a melhor didática que você pode encontrar. </p>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione modi eum, quisquam quas numquam sunt corrupti quo, repudiandae reiciendis expedita consequatur ipsum quidem incidunt voluptatum alias commodi perferendis placeat nihil! </p>

<p>Entre em contato: </p>

<ul>
  <li>(99) 99999-9999</li>
  <li><a href="mailto:yasilvalves@gmail.com">Omega@email.com</a></li>
</ul>
